body {
    margin: 0;
    padding: 0;
    font-family: 'Vibes', cursive;
    text-align: center;
    display: grid;
    margin: auto;
    grid-template-rows: 700px 200px 1fr 400px;
    grid-template-columns: 400px 1fr;
    grid-template-areas:"header header"
                        "invalid-words player-input"
                        "invalid-words word-bank"
                        "invalid-words hint"
}

h1 {
    color: rebeccapurple;
    font-size: 55px;
    text-transform: uppercase;
    margin-bottom: 0px;
}


h2 {
    color: rebeccapurple;
    display: inline-block;
    font-size: 40px;
    letter-spacing: 1em;
    text-transform: uppercase;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-left: 20px;
    margin-bottom: 0px;
}


#random-vowel-area {
    color: rebeccapurple;
    display: inline-block;
    font-size: 40px;
    letter-spacing: 1em;
    text-transform: uppercase;
    
}

#random-consonant-area {
    color: rebeccapurple;
    display: inline-block;
    font-size: 40px;
    letter-spacing: 1em;
    text-transform: uppercase;
    
}
button {
    font-family: 'Vibes', cursive;
    font-size: 2em;
    text-transform: uppercase;
    background: rebeccapurple;
    color: navajowhite;
    height: 50px;
    width: 300px;
    border-radius: 10px 100px / 120px;
}

input {
    font-family: 'Vibes', cursive;
    text-align: center;
    height: 100px;
    width: 700px;
    color: rebeccapurple;
    font-size: 45px;
    text-transform: uppercase;
    border-bottom: 3px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-left: 20px;
    margin-top: 20px;
}

#invalid-word-list {
    color: navajowhite;
    background: black;
    list-style: none;
    font-size: 2.5em;
    text-decoration: line-through;
    text-transform: uppercase;
    text-align: center;
    
}

ol {
    color: rebeccapurple;
    list-style: none;
    font-size: 2.5em;
    text-transform: uppercase;
}

.para-element {
    color: rebeccapurple;
    font-size: 2em;
    text-transform: uppercase;
    display: block;
}

#game-rules {
    background: rebeccapurple;
    color: navajowhite;
    font-size: 2em;
    text-transform: uppercase;
    width: 900px;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 5px solid silver;
    border-radius: 10px 100px / 120px;
}

#current-score {
    font-family: 'Vibes', cursive;
    font-size: 2em;
    text-transform: uppercase;
    background: black;
    color: navajowhite;
    height: 50px;
    width: 300px;
    border-radius: 10px 100px / 120px;
    margin: auto;
    margin-top: 10px;
}

.hint-text {
    color: rebeccapurple;
    background: black;
    font-size: 2em;
    letter-spacing: .03em;
}

header {
    grid-area: header;
    border: 5px solid silver;
}

section {
    grid-area: player-input;
    border: 5px solid silver;
}

aside {
    grid-area: invalid-words;
    border: 5px solid silver;
}

main {
    grid-area: word-bank;
    border: 5px solid silver;
}

footer {
    visibility: hidden;
    grid-area: hint;
    border: 5px solid silver;
}





